.User {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}
.User:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.User_pic {
  width: 50px!important;
  border-radius: 50%;
}
.User_details {
  display: none;
}

/* not small devices  */
@media (min-width: 576px) {
  .User_details {
    display: block;
    padding: 0 0 0 1rem;
  }
  .User_details-name {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }
}
